<div class="each_post">
    <h2 class="each_post_title">{{title}}</h2>
    <p class="each_post_body">{{post_content}}</p>
    <div class = "align_right">
        <!--
            Note: "format_date" is pulled from /utils/helpser.js
        -->
        <P>Posted By: {{user.username}} | {{format_date created_at}}</P>
    </div>
    