<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech_Blog</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css"> <!-- Normalizer -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"> <!-- Now, I am using Bulma css --> 
  <link rel="stylesheet" type="text/css" href="/css/style.css"> <!-- My personal css --> 
</head>

<body>
  <header>
    <div class="blog_title">
      <p>The Tech Blog</p> <!-- This is the title of this blog -->
    </div>
    <!-- 
      always 
        show "Home" button 
      if logged in:
        show "Dashboard" button since a user is logged-in, "Dashboard" is a user's personal thing
        show "Logout" button
      else
        show "Login" button
      end if
    -->
    <nav>
      <a href="/">Home</a> 
      {{#if loggedIn}}
      <!-- link to localhost:3001/dashboard
        and, it will call: /controllers/dashboard-routes.js
      -->
      <a href="/dashboard">Dashboard</a>
      <button id="logout" class="logout_button">Logout</button>
      {{else}}
      <!-- link to localhost:3001/login
        and, it will call /controllers/home-routes.js
        then, it will find "router.get('/login', (req, res) => {"
        then, it will render the 'login' template
          ./views/login.handlebars -> 
          ./views/layouts/main.handlebars
      --> 
      <a href="/login">Login</a>
      <a href="/signup">Signup</a>
      {{/if}}
    </nav>
  </header>

  <main>
    <div>
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>