<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Museum</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css"> <!-- Normalizer -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/Dashboard">Dashboard</a>
      {{#if loggedIn}}
      <button id="logout" class="btn-no-style">Logout</button>
      {{else}}
      <a href="/login">Login</a>
      {{/if}}
    </nav>
    <section class="tech_blog">
      <p>The Tech Blog</p> <!-- This will be switched to "Your Dashboard" -->
    </section>    
  </header>
  <main>
    <div>
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>