:root {
 /* 
  --primary: #3d5852;
  --secondary: #86938f;
  --tertiary: #5e877f;
  --quatrinary: #6c6b67;
  --light: #e3e4e3;
  --dark: #182c23;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
*/
  --light_blue: #CDDAEB;
  --dark_blue: #152A44;
  --light_purple: #7C74FE;
  --dark_purple: #660000;
  --grey: #F2F1EC;
  --white: #FFFFFF;
  --border-radius: 0.3rem;
}

header {
  margin: 0;
  text-align: left;
  background: var(--light_blue);
}
.blog_title {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  /*background: var(--light_blue);*/
  color: var(--dark_blue);
  text-align: center;
  font-size: 2.0em;
  font-weight: 900;
  /*border: 5px blue;*/
  /*border-radius: 10px 10px 10px 10px;*/ /* [top_left, top_right, lower_right, lower_left] */
  /*box-shadow: 7px 7px 0px 0px red;*/ /* [horizontal_offset, vertical_offset, blur_radius, spread, color] */
}

nav {
  display: flex;
  background-color: var(--dark_blue);
}
nav a {
  font-size: 1.1em;
  font-weight: bold;
  color: var(--white);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}
nav a:hover {
  background-color: var(--light_purple);
}

.logout_button {
  font-size: 1.1em;
  font-weight: bold;
  color: var(--white);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  background-color: var(--dark_blue);
}
.logout_button:hover{
  background-color: var(--light_purple);
}

main {
  flex: 1;
  /*padding: 2% 10%;*/ /* I prefer explict method */
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 20%;
  padding-right: 20%;
  
  background-color: var(--white);
  /*
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  */

}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--quatrinary);
}

.each_post{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*flex-wrap: wrap;*/
  border: 1px solid var(--dark_blue);
  /* this is same as above
  border-style: solid;
  border-width: 1px;
  border-color: var(--dark_blue);
  */
  padding: 0px;

  margin-top: 1em;
  margin-bottom: 1em;
  max-width: 100%;
  position: relative;
  background-color: var(--light_blue);
}
.each_post_title{
  background-color: var(--light_purple);
  /*background-color: var(--light_purple);*/
  color: var(--white);
  font-weight: bold;
  padding: 10px;
}
.each_post_body{
  background-color: var(--white);
  padding: 10px;
}
.align_right {
  padding: 5px;
  text-align: right;
  background-color: var(--grey);
  /*float: right;*/
}

a {
  color: var(--dark);
  text-decoration: none;
}








.login-card {
  margin: 0 0 20px 0;
  flex: 0 0 50%;
  max-width: 30%;
  padding: 5px;
  border: 3px solid var(--dark_blue);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  background-color: var(--light_blue);
  color: black;  
}


.card {
  margin: 20px;
  flex: 0 1 300px;
  border: 7px double var(--dark);
  border-radius: 10px;
  background-color: var(--light);
  color: var(--dark);
}

.card header {
  color: var(--light);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  background-color: var(--tertiary);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

.comment {
  padding: 1%;
  margin-bottom: 0.2%;
  background-color: wheat;
}
.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}





/*
a:visited {
  color: inherit;
}
*/


/*
aside {
  flex: 0;
  background-color: var(--tertiary);
  padding: 80px;
  text-align: left;
  color: var(--light);
}


.gallery {
  flex: 4;
  background-color: #fff;
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

.painting {
  width: 50%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.painting-details {
  text-align: center;
  padding: 10px 20px;
  font-weight: bold;
}
*/
/* CARDS */


/*
.gallery-name {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 2px 2px 5px var(--secondary);
  border: 10px groove var(--light);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 100px;
  padding-left: 100px;
}

.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
}
*/
